{% extends "educaWeb/layout.html" %}
{% load static %}

{% block body %}
<section class="hero">
    <div class="container-fluid p-0">
        <div class="row align-items-center g-0">
            <div class="col-12 col-md-6 col-lg-8 hero-image p-0">
                <img src="{% static 'educaWeb/images/portada1.jpg' %}" alt="Hero Image" class="img-fluid w-100">
            </div>
            <div class="col-12 col-md-6 col-lg-4 hero-content d-flex flex-column justify-content-center align-items-center text-center p-4 bg-light">
                <h1 class="display-4 mb-3">EduLEARN</h1>
                <p class="lead mb-4" style="font-family: 'Roboto', sans-serif;">Transformando el aprendizaje en una aventura de descubrimiento y crecimiento, donde cada mente encuentra su máximo potencial.</p>
                <a href="{% url 'cursos' %}" class="btn btn-primary btn-lg">Ver Cursos</a>
            </div>
        </div>
    </div>
</section>
<hr>

<section class="purpose py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-5" style="font-family: 'Montserrat', sans-serif;">Nuestro Propósito</h2>
        <div class="row gy-4">
            <div class="col-12 col-md-4 text-center mb-4">
                <img src="{% static 'educaWeb/images/educacion.png' %}" alt="Icon 1" class="img-fluid mb-3">
                <p style="font-family: 'Open Sans', sans-serif;">Facilitar el aprendizaje en línea con acceso flexible a cursos variados.</p>
            </div>
            <div class="col-12 col-md-4 text-center mb-4">
                <img src="{% static 'educaWeb/images/profesores.png' %}" alt="Icon 2" class="img-fluid mb-3">
                <p style="font-family: 'Open Sans', sans-serif;">Apoyar a educadores en la creación y gestión eficiente de contenidos educativos.</p>
            </div>
            <div class="col-12 col-md-4 text-center mb-4">
                <img src="{% static 'educaWeb/images/conexion.png' %}" alt="Icon 3" class="img-fluid mb-3">
                <p style="font-family: 'Open Sans', sans-serif;">Fomentar una comunidad educativa colaborativa y dinámica.</p>
            </div>
        </div>
    </div>
</section>
<hr>

<section class="study-areas py-5">
    <div class="container">
        <h2 class="text-center mb-4" style="font-family: 'Montserrat', sans-serif;">Cubrimos diferentes áreas de estudio</h2>
        <p class="text-center mb-5 mx-auto" style="font-family: 'Open Sans', sans-serif;">Explora nuestro amplio espectro de conocimiento para alcanzar tus metas educativas.</p>
        <div class="row gy-4">
            <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
                <img src="{% static 'educaWeb/images/libro.png' %}" alt="Icon 4" class="img-fluid mb-3">
                <p style="font-family: 'Open Sans', sans-serif;">Te ofrecemos oportunidades de aprendizaje personalizado y especializado.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
                <img src="{% static 'educaWeb/images/avance.png' %}" alt="Icon 5" class="img-fluid mb-3">
                <p style="font-family: 'Open Sans', sans-serif;">Buscamos satisfacer tus intereses y necesidades educativas.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
                <img src="{% static 'educaWeb/images/conocimiento.png' %}" alt="Icon 6" class="img-fluid mb-3">
                <p style="font-family: 'Open Sans', sans-serif;">Permitimos compartir tus conocimientos como educador.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-4">
                <img src="{% static 'educaWeb/images/precio-bajo.png' %}" alt="Icon 7" class="img-fluid mb-3">
                <p style="font-family: 'Open Sans', sans-serif;">Accesibilidad a todos nuestros cursos de manera gratuita.</p>
            </div>
        </div>
    </div>
</section>
<hr>
{% endblock %}
