/*Estilos principales*/
html,body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.hero {
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    padding: 40px 20px;
    background-color: #f1f1f1;
}

.hero-content {
    padding: 20px;
}

.hero h1 {
    font-size: 36px;
    margin: 0 0 10px;
}

.hero p {
    margin: 0 0 20px;
}

.hero button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(174, 214, 241);
}

.purpose {
    padding: 40px 20px;
    text-align: center;
}

.purpose h2 {
    font-size: 28px;
    margin-bottom: 20px;
}



.purpose-item {
    background-color: #e0e7ff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
}

.purpose-item img {
    height: 50px;
    margin-bottom: 10px;
}

.study-areas {
    padding: 40px 20px;
    text-align: center;
    background-color: #f8f9fa;
}

.study-areas h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.study-areas p {
    margin-bottom: 20px;
}


.study-area-item {
    background-color: #e0e7ff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
}

.study-area-item img {
    height: 50px;
    margin-bottom: 10px;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 15px;
    margin: 15px 10px;
}

/* Estilos de mi layout */
.main-content{
    min-height: calc(100vh - 60px); 
    padding-bottom: 60px; 
    box-sizing: border-box;
}
.container-fluid .navbarElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .icon svg {
    width: 32px;
    height: 32px;
    margin-left: 1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; 
    background-color: #000; 
    color: #fff; 
    text-align: center;
    line-height: 30px; 
}



/*Estilos de la seccion de cursos*/

.container-courses, .container-lectures{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
}

.main-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.line {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 2px;
    background-color: black;
    opacity: 0.2;
    margin: 20px auto;
}

.cards, .cards-x, .cards-y{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.cards-lecciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background:linear-gradient(180deg, #8b5cf6, #3b82f6); 
    background-size: cover;
    background-blend-mode: overlay; 
    color: white;
    font-weight: bold;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    outline: none;
    cursor: pointer;
}

.card-status {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px 0;
}

.card-level {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.card-button, .card-leccion, .card-inscripcion, .card-remove {
    display: inline-block;
    background-color: #22d3ee;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.card-remove{
    background-color: #f87171;
}

.card-inscripcion{
    background-color: #014ba0;  
}

.card-button:hover, .card-leccion:hover, .card-inscripcion:hover , .card-remove:hover{
    background-color: #0bc0e0;
}

.card-date {
    font-size: 1rem;
}

.card:hover,
.card:focus {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.card-edit-button, .card-delete-button, .card-edit-button-leccion, .card-delete-button-leccion {
    display: inline-block;
    background-color: #4ade80; 
    color: white;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.card-delete-button, .card-delete-button-leccion {
    background-color: #f87171; 
}

.card-edit-button:hover, .card-edit-button-leccion:hover {
    background-color: #22c55e;
}

.card-delete-button:hover, .card-delete-button-leccion:hover {
    background-color: #ef4444;
}

.col-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.btn-spacing{
    margin-right: 35px; 
}

/*Estilos de la seccion de nav*/
.main-nav{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 1r
}
.users-nav {
    border-bottom: 0.5px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
   margin-bottom: 1rem;
}
.pnv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    
}

.n-elm{
    display: flex;
    justify-self: space-between;
    align-items: center;
    padding: 0 20px;
}
.bg-light{
    background-color: #fefefe !important;
}

/* Estilos para la barra de navegación del usuario */
.user-navbar-nav-list {
    justify-content: space-around; 
}

.user-nav-item {
    margin-right: 20px; 
}

/*Login Styles*/
.login-container {
    background-color: rgba(255, 255, 255, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.login-box {
    background-color:rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50%;
    max-width: 400px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}
.login-box h2 {
    margin-bottom: 1.5rem;
}
.login-box .form-group {
    margin-bottom: 1.5rem;
}
.login-box .form-control {
    height: 45px;
    font-size: 16px;
}
.login-box .btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50; 
    border-color: #4caf50;
}
.login-box .btn-primary:hover {
    background-color: #45a049;
}
.login-box a {
    color: #4caf50;
}

/*Register*/
.register-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    z-index: 1; 
}
.register-container h2 {
    margin-bottom: 20px;
}
.register-container .form-group {
    margin-bottom: 15px;
}
.register-container .form-control {
    height: 45px;
    font-size: 16px;
}
.register-container .btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50; 
    border-color: #4caf50;
}
.register-container .btn-primary:hover {
    background-color: #45a049;
}
.register-container a {
    color: #4caf50;
}


.register-container .form-control-select {
    height: 45px;
    font-size: 16px;
}


.form-control {
    justify-content: center;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    padding: 10px !important; 
    width: 100% !important; 
    box-sizing: border-box; 
    margin-bottom: 15px; 
  }
  
  .form-control:focus {
    border-color: #007bff; 
    outline: none; 
  }

  #btn-save {
    background-color: #007bff; 
    border: none; 
    color: white; 
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer; 
    display: inline-block; 
    width: 70%;
    height: auto;
  }

    #btn-save:hover {
        background-color: #0056b3; 
    }

/*Estilos para formulario de cursos*/
.container-form {
    width: fit-content;
    height: fit-content;
    padding: 4rem;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: grid !important;
    grid-gap: 30px;
    place-items: Center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 30px 1px rgba(0, 0, 149, 0.68);
    -moz-box-shadow: 0px 7px 30px 1px rgba(0, 0, 149, 0.68);
    box-shadow: 0px 7px 30px 1px rgba(0, 0, 149, 0.68);
}
 
input[type="text"]{
    padding:10px;
    border-radius:30px;
    width:350px;
    border: 2px solid #9563FF ;
  }
  input[type="text"]:focus, #categoriasCurso:focus {
    border: 2px solid blue; 
    outline:none
  }
  #categoriasCurso{
    border-radius:10px;
    padding:10px;
    border: 2px solid #9563FF ;
  }
  

  .btn-form:hover{
    background: #9563FF;
    font-weight:bold;
  }
  .txt-leccion{
  width: 350px;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  }
  #btn-save-leccion{
    width: 100%;
  }


    .lesson-container {
        width: 80%;
        max-width: 1280px;
        background: white;
        padding: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .video-wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%; 
        margin-bottom: 2rem;
    }
    
    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 54, 123, 0.67);
    }
    
    .video-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
    }
    
    .lesson-subtitle {
        font-size: 2rem;
        font-weight: 700;
        color: white;
        text-align: center;
        margin-bottom: 1rem;
        background: rgba(0, 54, 123, 0.67);
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
    }
    
    .lesson-description {
        font-size: 1rem;
        font-weight: 400;
        color: #1E1E1E;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .lesson-progress {
        font-size: 1.25rem;
        font-weight: 700;
        color: #1E1E1E;
        text-align: center;
    }



@media (min-width: 360px) and (max-width: 860px) {
    .user-navbar-nav-list {
        margin-right: 3px; 
        justify-content: space-between; 
        padding-left: 10px; 
        padding-right: 10px; 
    }

    .user-nav-item {
        margin-right: 0; 
        flex: 1; 
    }

    .login-container {
        width: 95%;
        padding: 15px;
    }
    .login-container h2 {
        font-size: 1.5em;
    }
    .login-container .form-control {
        height: 40px;
        font-size: 14px;
    }
    .login-container .btn-primary {
        padding: 8px;
        font-size: 14px;
    }

    .register-container {
        width: 95%;
        padding: 15px;
    }
    .register-container h2 {
        font-size: 1.5em;
    }
    .register-container .form-control,
    .register-container .form-control-select {
        height: 40px;
        font-size: 14px;
    }
    .register-container .btn-primary {
        padding: 8px;
        font-size: 14px;
    }
    .col-card{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .lesson-container {
        width: 95%;
        padding: 1rem;
    }

    .lesson-subtitle {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .lesson-description {
        font-size: 0.875rem;
    }

    .lesson-progress {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .lesson-subtitle {
        font-size: 1.25rem;
    }

    .lesson-description {
        font-size: 0.75rem;
    }

    .lesson-progress {
        font-size: 0.875rem;
    }
}
@media (max-width: 768px) {
    .container-form {
        padding: 2rem;
        margin: 1rem;
        width: 90%;
    }
    input[type="text"] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .container-form {
        padding: 1rem;
        margin: 0.5rem;
        width: 95%;
    }
    input[type="text"] {
        width: 100%;
    }
}

input[type="text"] {
    padding: 10px;
    border-radius: 30px;
    width: 350px;
    border: 2px solid #9563FF;
}

input[type="text"]:focus, #categoriasCurso:focus {
    border: 2px solid blue;
    outline: none;
}